@font-face {
    font-family: 'Vermin Vibes 1989';
    src: url('fonts/Vermin-Vibes-1989.woff2') format('woff2'),
        url('fonts/Vermin-Vibes-1989.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VCR OSD Mono';
    src: url('fonts/VCROSDMono.woff2') format('woff2'),
        url('fonts/VCROSDMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.logo {
    font-family: 'Vermin Vibes 1989';
    font-size: 65;
    text-align: left;
    color: rgb(0, 0, 0);
}

.header {
    background-color: rgb(255, 255, 255);
    margin-left: -10;
    margin-right: -6;
    margin-top: -10;
    padding: 10;
    display: flex;
    justify-content: space-between;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
}

.moto {
    text-align: right;
    font-family: 'VCR OSD Mono';
    justify-content: right;
    align-items: right;
}