@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@font-face {
    font-family: 'Bitwise';
    src: url('fonts/bitwise.woff2') format('woff2'),
        url('fonts/bitwise.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Vermin Vibes 1989';
    src: url('fonts/Vermin-Vibes-1989.woff2') format('woff2'),
        url('fonts/Vermin-Vibes-1989.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VCR OSD Mono';
    src: url('fonts/VCROSDMono.woff2') format('woff2'),
        url('fonts/VCROSDMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.logo {
    font-family: 'Vermin Vibes 1989';
    font-size: 85;
    margin-left: 10;
    text-align: left;
    color: white;
}

.header {
    background-color:  rgba(0, 0, 0, .85);
    margin-left: 0;
    margin-right: -6;
    margin-top: -10;
    padding: 10;
    display: flex;
    justify-content: space-between;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  overflow: hidden; 
}

section.hScroll {
  height: 100vw;
  width: 100vh;
  padding: 20px;
  background: #111;
  overflow: hidden auto;
  transform-origin: right top;
  transform: rotate(-90deg) translateY(-100vh);
}

.hScroll_block {
  width: calc(200vh - 40px);
  height: calc(210vh - 40px);
  background: #111;
  margin-bottom: 20px;
  position: relative;
  transform-origin: left top;
  transform: rotate(90deg) translateY(calc(-100vh + 40px));
}

.hScroll_block:last-child {
  margin: 0;
}



section.hScroll .hScroll_block .background {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  background-size: cover;
  background-position: center center;
  background-blend-mode: luminosity;
}

.hScroll_block .letter {
  text-align: right;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: 'Bitwise';
  letter-spacing: 1.5px;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}




body {
    background-color: #111;
}

a {
    text-decoration: none;
}

.moto {
    text-align: right;
    font-family: 'VCR OSD Mono';
    justify-content: right;
    align-items: right;
    color: white;
    margin-top: 5;
}     


.subhead {
    color: whitesmoke;
    margin-top: 15;
    margin-bottom: 10;
    font-size: 40;
    font-family: 'VCR OSD Mono';

}

.desc {
    color: white;
    font-family: 'VCR OSD Mono';
    font-size: 25;
    margin-top: 10;
    
}

.img1 {
  float: left;
  margin-right: 60;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
  margin-top: 10;
}

.sidetext {
  color: #111;
  font-family: "Bitwise";
  margin-top: 50;
  margin-left: 950;
  background-color: #fff;
  padding-top: 10;
  border-radius: 10;
  text-align: center;
  border-radius: 25px;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;;
  padding: 25px;
  width: 200px;
  height: auto;
  font-size: 17;
  }

ul {
  text-align: left;
  margin-top: 10;
}

li {
  margin-top: 7;
}


.legend {
  color: #ffba08;
}

.mythic {
  color: #7209b7;
}

.rare {
  color: #f72585;
}

.uncommon {
  color: #00f5d4;
}

.f1 {
  color: #d00000;
}


.holder {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.background-one {
  background-color: #111;
}

.background-two {
  background-color: #111;
}

.background-three {
  background-color: #111;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 0;
}

a {
  font-family: "Bitwise", cursive;
  font-size: 2.5em;
}

.link-one {
  color: #ffba08;
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
  line-height: 1em;
}

.link-one:hover {
  color: #111;
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);

  /* Thanks Chris Coyier, you got my back always. https://css-tricks.com/different-transitions-for-hover-on-hover-off/ */
}

.link-one::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #ffba08;

  clip-path: circle(0% at 50% calc(50%));
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-one:hover::before {
  clip-path: circle(100% at 50% 50%);
}

.link-one::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #151515;

  clip-path: polygon(
    40% 0%,
    60% 0%,
    60% 0%,
    40% 0%,
    40% 100%,
    60% 100%,
    60% 100%,
    40% 100%
  );


  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-one:hover::after {
  
  clip-path: polygon(
    40% 10%,
    60% 10%,
    60% 35%,
    40% 35%,
    40% 90%,
    60% 90%,
    60% 65%,
    40% 65%
  );
}

.link-two {
  color: #7209b7;
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
  line-height: 1em;
}

.link-two:hover {
  color: #fff;
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.link-two::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #7209b7;

  clip-path: circle(0% at 50% calc(50%));
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-two:hover::before {
  clip-path: circle(100% at 50% 50%);
}

.link-two::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #151515;

  clip-path: polygon(
    40% 0%,
    60% 0%,
    60% 0%,
    40% 0%,
    40% 100%,
    60% 100%,
    60% 100%,
    40% 100%
  );


  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-two:hover::after {
   
  clip-path: polygon(
    40% 10%,
    60% 10%,
    60% 35%,
    40% 35%,
    40% 90%,
    60% 90%,
    60% 65%,
    40% 65%
  );
}

.link-three {
  color: #f72585;
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
  line-height: 1em;
}

.link-three:hover {
  color: #111;
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.link-three::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #f72585;

  clip-path: circle(0% at 50% calc(50%));
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-three:hover::before {
  clip-path: circle(100% at 50% 50%);
}

.link-three::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #151515;

  clip-path: polygon(
    40% 0%,
    60% 0%,
    60% 0%,
    40% 0%,
    40% 100%,
    60% 100%,
    60% 100%,
    40% 100%
  );


  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-three:hover::after {
   
  clip-path: polygon(
    40% 10%,
    60% 10%,
    60% 35%,
    40% 35%,
    40% 90%,
    60% 90%,
    60% 65%,
    40% 65%
  );
}

.link-four {
  color: #00f5d4;
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
  line-height: 1em;
}

.link-four:hover {
  color: #111;
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);

  /* Thanks Chris Coyier, you got my back always. https://css-tricks.com/different-transitions-for-hover-on-hover-off/ */
}

.link-four::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #00f5d4;

  clip-path: circle(0% at 50% calc(50%));
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-four:hover::before {
  clip-path: circle(100% at 50% 50%);
}

.link-four::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #151515;

  clip-path: polygon(
    40% 0%,
    60% 0%,
    60% 0%,
    40% 0%,
    40% 100%,
    60% 100%,
    60% 100%,
    40% 100%
  );


  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-four:hover::after {
  
  clip-path: polygon(
    40% 10%,
    60% 10%,
    60% 35%,
    40% 35%,
    40% 90%,
    60% 90%,
    60% 65%,
    40% 65%
  );
}

.link-five {
  color: #d00000;
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
  line-height: 1em;
}

.link-five:hover {
  color: #fff;
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.link-five::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #d00000;

  clip-path: circle(0% at 50% calc(50%));
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-five:hover::before {
  clip-path: circle(100% at 50% 50%);
}

.link-five::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #151515;

  clip-path: polygon(
    40% 0%,
    60% 0%,
    60% 0%,
    40% 0%,
    40% 100%,
    60% 100%,
    60% 100%,
    40% 100%
  );


  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-five:hover::after {
   
  clip-path: polygon(
    40% 10%,
    60% 10%,
    60% 35%,
    40% 35%,
    40% 90%,
    60% 90%,
    60% 65%,
    40% 65%
  );
}

.link-six {
  color: #fff;
  transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
  line-height: 1em;
}

.link-six:hover {
  color: #111;
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.link-six::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #fff;

  clip-path: circle(0% at 50% calc(50%));
  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-six:hover::before {
  clip-path: circle(100% at 50% 50%);
}

.link-six::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #151515;

  clip-path: polygon(
    40% 0%,
    60% 0%,
    60% 0%,
    40% 0%,
    40% 100%,
    60% 100%,
    60% 100%,
    40% 100%
  );


  transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-six:hover::after {
   
  clip-path: polygon(
    40% 10%,
    60% 10%,
    60% 35%,
    40% 35%,
    40% 90%,
    60% 90%,
    60% 65%,
    40% 65%
  );
}


